python/src/datasets/
*outputs/
python/scripts/lightning_logs
_archive/
*.patch

# CLI artifacts (argparse leftovers)
python/--*

# accidental experiment directories
scripts/
!python/scripts/
!python/scripts/*

__pycache__/
